.problemcontainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.big-text {
  font-size: xx-large;
}

.des-text {
  font-size: medium;
}

.description {
  font-family: "Courier New", Courier, monospace;
}
